.side-menu {
    position: relative;
    background-color: #404040;
    border-right: 3px solid #ff0000;

    &.close {
        width: 64px;
    }

    & > .brand {
        text-align: center;
        font-size: 1.2em;
    }
    
    & > .toggle-button {
        bottom: 0;
        width: 100%;
        height: 30px;
        position: absolute;
    }

    width: 320px;
}