@use "../../variables" as v;

.side-menu {
    background-color: v.$side-menu-bg;
    border-right: 1px solid #17212b;

    & > .brand {
        text-align: center;
        font-size: 1.2em;
    }
    
    & > .toggle-button {
        bottom: 0;
        padding: 10px;
        width: 100%;
        text-align: center;
        position: absolute;
        color: #bbb;

        &:hover {
            background-color: lighten(v.$side-menu-bg, 15%);
        }

        &:active {
            background-color: darken(v.$side-menu-bg, 15%);
        }
    }
}