@font-face {
  font-family: 'KaiTi';
  src: url('fonts/KaiTi.ttf')  format('truetype');
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ufeeki');
  src:  url('fonts/icomoon.eot?ufeeki#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ufeeki') format('truetype'),
    url('fonts/icomoon.woff?ufeeki') format('woff'),
    url('fonts/icomoon.svg?ufeeki#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dumbbell:before {
  content: "\e904";
}
.icon-dot:before {
  content: "\e903";
}
.icon-group:before {
  content: "\e901";
}
.icon-user-profile:before {
  content: "\e902";
}
.icon-edit-box:before {
  content: "\e900";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-profile:before {
  content: "\e923";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
