.slices-view {
    padding: 10px;

    .search-bar {
        width: 70%;
        margin: auto;
        padding: 10px 0;
    }

    .expressions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3px;
        grid-row-gap: 2px;;

        @media screen and (max-width: 860px) {
            grid-template-columns: auto;
        }

        @media screen and (min-width: 860px) {
            grid-template-columns: 1fr 1fr;
        }

        & > .expression-row {
            padding: 3px 7px;
            border: 1px solid #eee;
            border-radius: 2px;
            position: relative;

            & > .detach-btn {
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 0.9em;
                opacity: 10%;

                &:hover {
                    opacity: 40%;
                }
            }

            & > .target-value {
                font-size: 1.2em;
            }

            & > .translations {
                position: relative;

                & > .translation {
                    padding: 2px;
                    margin-left: 10px;
                    font-size: 0.9em;
                    color: #444;

                    &::before {
                        content: "-";
                        color: #b1b1b1;
                        position: absolute;
                        left: 0;
                    }

                    &:not(:first-child) {
                        border-top: 1px solid #f9f9f9;
                    }

                    &:hover {
                        background: #f9f9f9;

                        & > .controls {
                            display: inherit;
                        }
                    }

                    & > .controls {
                        display: none;
                        float: right;

                        & > * {
                            cursor: pointer;
                        }
                    }
                }

                & > .translation-input {
                    width: 100%;

                    & > .content {
                        position: relative;
                        background: #333;
                        border-radius: 4px 4px 0 0;

                        input {
                            margin: 0;
                            border-radius: 3px 0 0 0;
                            outline: none;
                            padding-right: 25px;

                            &::placeholder {
                                color: #007bff
                            }
                        }

                        & > .close-btn {
                            cursor: pointer;
                            position: absolute;
                            background: rgb(255, 255, 255);
                            top: -19px;
                            right: 0;
                            width: 32px;
                            height: 20px;
                            text-align: center;
                            border-left: 1px solid #e7e7e7;
                            border-top: 1px solid #e7e7e7;
                            border-right: 1px solid #e7e7e7;
                            border-radius: 5px 5px 0 0;
                        }

                        & > .attach-translation-btn {
                            cursor: pointer;
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            border-radius: 3px;
                            border: 1px solid rgb(197, 197, 197);
                            text-align: center;
                            right: 5px;
                            top: 5px;

                            &:hover {
                                background: rgb(241, 241, 241);
                            }

                            &:active {
                                background: rgb(182, 182, 182);
                            }
                        }

                        & > .popover-content {
                            position: absolute;
                            background: #fff;
                            border-right: 1px solid #e7e7e7;
                            border-bottom: 1px solid #e7e7e7;
                            border-left: 1px solid #e7e7e7;
                            border-radius: 0 0 3px 3px;
                            width: 100%;
                            z-index: 100;

                            & > .translations {
                                & > .no-records {
                                    padding: 7px;
                                    text-align: center;
                                    font-size: 0.8em;
                                    color: #8b8b8b;
                                }

                                & > .translation-item {
                                    padding: 7px;

                                    &:not(:first-child) {
                                        border-top: 1px solid #ddd;
                                    }

                                    &:hover {
                                        cursor: pointer;
                                        background-color: #eee;
                                    }
                                }
                            }
                        }
                    }

                    & > .placeholder {
                        color: #007bff;
                        font-size: 0.8em;
                        padding: 7px;
                        border: 1px solid #fff;
    
                        &:hover {
                            border: 1px solid #eee;
                            border-radius: 3px;
                        }
                    }
                }
            }
        }
    }
}