@use "../../variables.scss" as v;

.slices-page {
    & > .slices-menu-container {
        background-color: v.$side-menu-active-bg;
        position: fixed;
        width: 200px;
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .slices-menu-item-container {
            .slices-menu-item {
                display: flex;
                padding: 7px 3px;
                color: #bbb;

                & > .expand-btn {
                    font-size: 0.8em;
                    margin-right: 3px;
                }

                & > .content {
                    & > .label {
                        font-size: 0.8em;
                        font-weight: 500;
                    }
    
                    & > .details {
                        font-size: 0.7em;
                    }
                }
    
                &:hover {
                    cursor: pointer;
                    color: v.$side-menu-bg;
                    background-color: rgb(255, 255, 255);
                    border-radius: 5px 0 0 5px;;
                }
    
                &.active {
                    border-radius: 15px 0 0 15px;
                }
            }

            &.expand {
                & > .children {
                    display: none;
                }
            }

            & > .children {
                margin-left: 3px;
                padding-left: 5px;
                border-left: 1px dashed #333;
            }
        }
    }

    & > .outlet {
        margin-left: 200px;
    }

    & > .group-select-container {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;  

        & > .groups-select {
            width: 50%;
            padding: 20px;
            border: 1px solid #c3c3c3;
            border-radius: 7px;
        }
    }
}