.home-page {
    & > .header {
        height: 256px;
        padding: 24px;
        background: rgb(209,209,209);
        background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
        
        h2 {
            text-transform: uppercase;
        }

        h2, p, .auth-section {
            text-align: center;
        }

        .auth-section {
            padding-top: 15px;

            a {
                padding: 10px;
                background-color: #000;
                font-size: 1.2rem;
                border-radius: 3px;
                color: #dedede;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    background-color: #333;
                }

                &:not(:first-child) {
                    margin-left: 30px;
                }
            }
        }
    }
}