.app-container {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: auto;

  .side-menu {
    position: fixed;
    width: 200px;
    height: 100%;

    &.close {
        width: 48px;;

        .menu-item {
          i {
            font-size: 2em;
          }
          .label {
            display: none;
          }
        }

        & ~ .outlet {
          padding-left: 48px;
        }
    }

    .menu-item {
      i {
        font-size: 1.1em;
      }
      .label {
        margin-left: 5px;
      }
    }
  }

  & > .outlet {
    padding-left: 200px;
    width: 100%;
  }
}