.group-item {
    display: flex;
    background-color: #fdfdfd;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #dfdfdf;
    box-shadow: 0 0 3px #dbdbdb;

    & > .side-section {
        width: 32px;

        .toggle-btn {
            --color: #b5b5b5;
            position: relative;
            cursor: pointer;
            color: var(--color);
            border: 1px solid var(--color);
            width: 16px;
            height: 16px;

            &:hover {
                --color: #818181;  
            }

            &::after {
                content: "+";
                position: absolute;
                left: 3px;
                top: -2px;
            }
        }
    }

    & > .content {
        width: 100%;

        & > .info {
            display: flex;

            .name {
                width: 30%;
            }
        }
    
        & > .members {
            display: none;
        }
    }

    &.open {
        .side-section {
            .toggle-btn {    
                &::after {
                    content: "–";
                }
            }
        }
        .content {
            .members {
                display: inherit;
                margin-top: 10px;
                border-top: 1px dashed #ededed;
                padding-top: 5px;
            }
        }
    }
}