.group-member {
    display: flex;
    padding: 5px 0;

    & > .username {
        width: 30%;
    }

    & > .role {
        width: 20%;
    }
    
    & > .status {
        width: 20%;
    } 

    & > .controls {
        margin-left: auto;

        & > * {
            cursor: pointer;

            &:hover {
                color: rgb(224, 37, 37);
            }
        }
    }
}