.auth-page {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15%;

    .auth-components {
        display: flex;
        position: relative;

        & > .login {
            margin-left: 56px;
        }

        .divider{
            --div-border: 1px solid #f3f3f3;
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            margin-left: 2px;
            border-left: var(--div-border);
            border-right: var(--div-border);
            border-radius: 3px;
        }
    }
}